<div class="row row-cols-2">
    <div class="col-auto d-flex justify-content-center align-items-center align-content-center">
        </div>
    <div class="col-10">
        <div class="row row-cols-1">
            <div class="col">
                <h1 class="text-center">SRI&nbsp; MUTHUKUMARAN INSTITUTE OF TECHNOLOGY</h1>
            </div>
            <div class="col">
                <h2 class="text-center">Approved by AICTE, New Delhi &amp; Affiliated to Anna University, Chennai</h2>
            </div>
            <div class="col">
                <h3 class="text-center">CHIKKARAYAPURAM, (NEAR MANGADU) CHENNAI - 600 069</h3>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <h4 class="text-center">Student Details</h4>
    <div class="row" style="width: 100%;height: 165px;">
        <div class="col" style="height: 100%;">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td class="fs-6 fw-bold text-bg-light">Name</td>
                            <td>Cell&nbsp;</td>
                            <td class="fs-6 fw-bold text-bg-light">Roll</td>
                            <td>Cell 2</td>
                        </tr>
                        <tr>
                            <td class="fs-6 fw-bold text-bg-light">Dob</td>
                            <td>Cell 4</td>
                            <td class="fs-6 fw-bold text-bg-light">Batch</td>
                            <td>Cell 2</td>
                        </tr>
                        <tr>
                            <td class="fs-6 fw-bold text-bg-light">Degree</td>
                            <td>Cell 2</td>
                            <td class="fs-6 fw-bold text-bg-light">Branch</td>
                            <td>Cell 2</td>
                        </tr>
                        <tr>
                            <td class="fs-6 fw-bold text-bg-light">Current Year</td>
                            <td>Cell 2</td>
                            <td class="fs-6 fw-bold text-bg-light">Current Semester</td>
                            <td>Cell 2</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-auto" style="height: 100%;padding: 2px;border-width: 1px;border-style: solid;">
          
        </div>
    </div>
</div>
<div class="container-fluid">
    <h4 class="text-center">Attendance Details</h4>
    <div class="table-responsive">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td class="text-center text-bg-light" colspan="2" rowspan="2"></td>
                    <td class="fw-bold text-center text-bg-light" colspan="2">FIRST YEAR</td>
                    <td class="fw-bold text-center text-bg-light" colspan="2">SECOND YEAR</td>
                    <td class="fw-bold text-center text-bg-light" colspan="2">THIRD YEAR</td>
                    <td class="fw-bold text-center text-bg-light" colspan="2">FOURTH YEAR</td>
                </tr>
                <tr class="text-bg-light">
                    <td class="fw-bold text-center text-bg-light">SEMESTER 1</td>
                    <td class="fw-bold text-center text-bg-light">SEMESTER 2</td>
                    <td class="fw-bold text-center text-bg-light">SEMESTER 3</td>
                    <td class="fw-bold text-center text-bg-light">SEMESTER 4</td>
                    <td class="fw-bold text-center text-bg-light">SEMESTER 5</td>
                    <td class="fw-bold text-center text-bg-light">SEMESTER 6</td>
                    <td class="fw-bold text-center text-bg-light">SEMESTER 7</td>
                    <td class="fw-bold text-center text-bg-light">SEMESTER 8</td>
                </tr>
                <tr>
                    <td class="fw-bold text-center text-bg-light" colspan="2">NO OF WORKING DAYS</td>
                    <td class="text-center">SEMESTER 2</td>
                    <td class="text-center">SEMESTER 3</td>
                    <td class="text-center">SEMESTER 4</td>
                    <td class="text-center">SEMESTER 5</td>
                    <td class="text-center">SEMESTER 6</td>
                    <td class="text-center">SEMESTER 7</td>
                    <td class="text-center">SEMESTER 8</td>
                    <td class="text-center">SEMESTER 2</td>
                </tr>
                <tr>
                    <td class="fw-bold text-center text-bg-light" colspan="2">PRESENT</td>
                    <td class="text-center">SEMESTER 2</td>
                    <td class="text-center">SEMESTER 3</td>
                    <td class="text-center">SEMESTER 4</td>
                    <td class="text-center">SEMESTER 5</td>
                    <td class="text-center">SEMESTER 6</td>
                    <td class="text-center">SEMESTER 7</td>
                    <td class="text-center">SEMESTER 8</td>
                    <td class="text-center">SEMESTER 2</td>
                </tr>
                <tr>
                    <td class="fw-bold text-center text-bg-light" colspan="2">ABSENT</td>
                    <td class="text-center">SEMESTER 2</td>
                    <td class="text-center">SEMESTER 3</td>
                    <td class="text-center">SEMESTER 4</td>
                    <td class="text-center">SEMESTER 5</td>
                    <td class="text-center">SEMESTER 6</td>
                    <td class="text-center">SEMESTER 7</td>
                    <td class="text-center">SEMESTER 8</td>
                    <td class="text-center">SEMESTER 2</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="container-fluid">
    <p>This is to certify that <strong>santhosh</strong>&nbsp;has attended&nbsp;<strong>128 days</strong>&nbsp;out of&nbsp;<strong>128 days</strong>&nbsp;during the academic batch from <strong>2020&nbsp;</strong>to&nbsp;<strong>2024</strong>, resulting in an attendance rate of&nbsp;<strong>94%</strong>.This certification serves as a testament to the student's commitment and diligence towards their education at&nbsp;<strong>SRI MUTHUKUMARAN INSTITUTE OF TECHNOLOGY</strong>&nbsp; &nbsp;. We wish them all the best for their future endeavors.</p>
</div>
<div class="container">
    <div class="row" style="height: 80px;">
        <div class="col">
            <div class="row row-cols-1">
                <div class="col d-flex justify-content-center"></div>
                <div class="col d-flex justify-content-center"><strong class="fs-5 fw-bolder">Head of the Department</strong></div>
            </div>
        </div>
        <div class="col">
            <div class="row row-cols-1">
                <div class="col d-flex justify-content-center"></div>
                <div class="col d-flex justify-content-center"><strong class="fs-5 fw-bolder">Vice Principal</strong></div>
            </div>
        </div>
        <div class="col">
            <div class="row row-cols-1">
                <div class="col d-flex justify-content-center"></div>
                <div class="col d-flex justify-content-center"><strong class="fs-5 fw-bolder">Principal</strong></div>
            </div>
        </div>
    </div>
</div>