{% extends 'admin/master.html' %}     
{% load static %} 
{% load poll_extras %}
{% block master %}

{% if messages %}
<div class="position-fixed w-100 top-0  my-2" id="alert_message" style="z-index:2;">
  {% for message in messages %}    <div class="alert alert-{{message.extra_tags}} fade show" role="alert" id="myAlert">
      
        <strong>{{ message }} </strong>
       
    </div> {% endfor %} 
</div>
{% endif %}


<link rel="stylesheet" href="{% static 'css/register.css' %}">
<div class="container-fluid">
    <h3 class="text-dark"><strong><span style="color: #303c54;">Profile {{student_profile.roll}}</span></strong></h3>
    <div class="row mb-3">
        <div class="col-lg-4">
            <div class="card mb-3">
                <div class="card-body text-center shadow">
                    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 mb-3">
                        <form method="post"  enctype="multipart/form-data" >
                            {% csrf_token %}
                        <div class="col">
                            <label class="form-label" for="roll"><strong>Username</strong></label>
                            <div class="d-flex ">
                             <input class="form-control  formon" type="roll" id="roll" value="{{student_profile.roll}}" name="roll" disabled>
                             
                            </div>
                            </div>
                        </div>     
                   

                        <div class="avatar-upload">
                            <div class="avatar-edit">
                                <input name="studentimage" type="file"  id="studentimage" accept=".png, .jpg, .jpeg" >
                                 <label class="form-label formbutton d-flex d-none justify-content-center align-items-center" for="studentimage">
                                <i class="fas fa-pen"></i></label>
                            </div>
                            <div class="avatar-preview">
                                <div id="studentimagepreview" style="background-image: url({{student_profile.photo.url}});"></div>
                            </div>
                        </div><button name="change_username"  class="btn btn-primary mx-3 formon  btn-sm" type="submit" disabled>Update</button>
              </form>
                </div>
            </div>
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="text-primary fw-bold m-0">Attendance</h6>
                </div>
                <div class="card-body">
                    <h4 class="small fw-bold">1st Year<span class="float-end">Complete!</span></h4>
                    <div class="progress progress-sm mb-3">
                        <div class="progress-bar bg-success" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"><span class="visually-hidden">100%</span></div>
                    </div>
                    <h4 class="small fw-bold">2nd Year<span class="float-end">Complete!</span></h4>
                    <div class="progress progress-sm mb-3">
                        <div class="progress-bar bg-success" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"><span class="visually-hidden">100%</span></div>
                    </div>
                    <h4 class="small fw-bold">3rd Year<span class="float-end">Complete!</span></h4>
                    <div class="progress progress-sm mb-3">
                        <div class="progress-bar bg-success" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"><span class="visually-hidden">100%</span></div>
                    </div>
                    <h4 class="small fw-bold">4th Year<span class="float-end">Complete!</span></h4>
                    <div class="progress progress-sm mb-3">
                        <div class="progress-bar bg-success" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"><span class="visually-hidden">100%</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
 
            <div class="row">
                <div class="col">
                    <div class="card shadow mb-3">
                        <div class="card-header py-3">
                            <div class="row">
                                <div class="col">
                                    <p class="text-primary m-0 fw-bold">Student Settings</p>
                                </div>
                                <div class="col d-flex justify-content-center justify-content-sm-end justify-content-md-end">
                                    <button id="disable_form" class="btn btn-danger btn-sm fs-6 fw-bold " type="button">Update Disabled</button>
                                    <button id="enable_form" class="btn btn-success btn-sm fs-6 d-none fw-bold link-light" type="button">Update Enabled</button></div>
                            </div>
                        </div>
                        <div class="card-body">
                                  <form method="post"  enctype="multipart/form-data" >
                                        {% csrf_token %}
                                       
                                        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 mb-3">
                                            <div class="col"><label class="form-label" for="name"><strong>Name</strong></label>
                                                <input class="form-control formon" type="name" id="name" value="{{student_profile.name}}" name="name" disabled></div>
                                        </div>                      
                                <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2">
                                    <div class="col">
                                        <div class="mb-3"><label class="form-label" for="degree"><strong>Degree</strong></label>
                                            <input class="form-control formon" type="text" id="degree" value="{{student_profile.degree}}" name="degree" disabled></div>
                                    </div>
                                    <div class="col">
                                        <div class="mb-3"><label class="form-label" for="branch"><strong>Branch</strong></label>
                                            <input class="form-control formon" type="text" id="branch" value="{{student_profile.branch}}" name="branch" disabled></div>
                                    </div>
                                </div>
                                <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2">
                                    <div class="col">
                                        <div class="mb-3"><label class="form-label" for="dob"><strong>Dob</strong></label>
                                            <input class="form-control formon" type="date" name="dob" value="{{ student_profile.dob|date:'Y-m-d' }}" disabled></div>
                                    </div>
                                    <div class="col">
                                        <div class="mb-3"><label class="form-label" for="batch"><strong>Batch</strong></label>
                                            <input class="form-control formon" type="text" id="batch" value="{{student_profile.batch}}" name="batch" disabled></div>
                                    </div>
                                </div>
                                <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2">
                                    <div class="col">
                                        <div class="mb-3"><label class="form-label" for="year"><strong>Year</strong></label>
                                            <input class="form-control formon" type="text" id="year" value="{{student_profile.year}}"  name="year" disabled></div>
                                    </div>
                                    <div class="col">
                                        <div class="mb-3"><label class="form-label" for="semester"><strong>Semester</strong></label>
                                            <input class="form-control formon" type="text" id="semester" value="{{student_profile.semester}}"  name="semester" disabled></div>
                                    </div>
                                </div>
                                <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1">
                                    <div class="col"><label class="form-label" for="email"><strong>Email Address</strong></label>
                                        <input class="form-control formon" type="email" id="email" value="{{student_profile.email}}" name="email" disabled></div>
                                </div>
                                <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2" style="margin-top: 10px;">
                                    <div class="col">
                                        <div class="mb-3"><label class="form-label" for="mobile"><strong>Mobile</strong></label>
                                            <input class="form-control formon" type="text" id="mobile" value="{{student_profile.mobile}}"  name="mobile" disabled></div>
                                    </div>
                                    <div class="col">
                                        <div class="mb-3"><label class="form-label" for="parent_mobile"><strong>Parent</strong></label>
                                            <input class="form-control formon" type="text" id="parent_mobile" value="{{student_profile.parent_mobile}}"  name="parent_mobile" disabled></div>
                                    </div>
                                </div>
                                <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2">
                                    <div class="col">
                   
                                        <button name="reset_password"  class="btn btn-primary btn-sm" type="submit">Reset Password</button></div>
                                    <div class="col d-flex justify-content-end formbutton d-none align-items-center">
                                        <button name="update_record" class="btn btn-primary btn-sm" type="submit">Save Details</button></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>

    <div class="card shadow mb-5">
        <div class="card-header py-3">
            <div class="row">
                <div class="col">
                    <p class="text-primary m-0 fw-bold">Attendance Report</p>
                </div>
                <div class="col d-flex justify-content-center justify-content-sm-end justify-content-md-end">
                    <a href="{% url "student_attendance_pdf" student_profile.roll %}">  
                           <button class="btn btn-primary btn-sm" type="submit">Report</button></a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive table mt-2" id="dataTable-1" role="grid" aria-describedby="dataTable_info">
                <table class="table my-0" id="dataTable">
                    <thead>
                        <tr>
                            <th style="min-width: 150px;">Register Number</th>
                            <th style="min-width: 100px;">Year</th>
                            <th style="min-width: 100px;">Semester</th>
                            <th style="min-width: 100px;">Total Days</th>
                            <th style="min-width: 100px;">Present</th>
                            <th style="min-width: 100px;">Late</th>
                            <th style="min-width: 100px;">Absent</th>
                        </tr>
                    </thead>
                    <tbody>
                            {% for course in courses %}  <tr>
                   
                            <td>{{student_profile.roll}}</td>
                            <td> {{course.year}} </td>
                            <td>{{course.semester}}</td>
                            <td>{% no_of_days course.name  %}</td>
                            <td>{% no_of_days_present course.name student_profile.roll %}</td>
                            <td>{% no_of_days_late course.name student_profile.roll %}</td>
                            <td>{% no_of_days_absent course.name student_profile.roll %}</td>
                        </tr> {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>Register Number</td>
                            <td>Year</td>
                            <td>Semester</td>
                            <td>Total Days</td>
                            <td>Present</td>
                            <td>Late</td>
                            <td>Absent</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <div class="row row-cols-1">
        <div class="col d-flex justify-content-end align-items-center" style="margin-bottom: 20px;">
            <form method="post"  >
                {% csrf_token %}
            <button class="btn btn-danger" name="delete_user" type="submit">Delete User</button></div>
            </form>
    </div>
</div>



<script src="{% static 'js/datatable.js' %}"></script>
<script src="{% static 'js/bootdatatable.js' %}"></script>
<script src="{% static 'js/profile.js' %}"></script>
{% endblock master %}